

:root{
    --meduim-green:  #1ce783;
    --light-green:#99cc33;
    --dark-green:#41811e;
    --black:black;
    --grayish-blue: #505161;
    --white: #ffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    background: url(../src/assets/Images/header-img/header.jpg);
    height:96vh ;
    margin-bottom: -460px;
    

}

.--logo{
 width: 70px;
 height: 30px;
}
.--login{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;   
    transition: all.7s;
    opacity: .7;
    margin-right: 30px;


}
.--login:hover{
    cursor: pointer;
    width: 80px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--grayish-blue);
    padding-top: 7px;
    opacity: .9;
}

.--line{
    height: 1px;
    width: 10px;
    border: 2px solid white;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    display: none;
    margin-bottom: 2px;
    margin-left: 4px;

}

.--hamburger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
    align-items: center;
    margin-right: 30px;
    border-radius: 10px;
    background-color: var(--grayish-blue);
    display: none;
}
.--hamburger-menu:hover{
    cursor: pointer;
}

.--sign-up{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--grayish-blue);
    border-radius: 10px;
    margin: 20px 20px 0 auto;
    display: none;
    
}
.--sign-up button{
    height: 190px;
    text-transform: uppercase;
}
.--sign-up button:first-of-type{
    background-color: transparent;
    border-style: none;
    color: var(--white);
}
.--sign-up button:first-of-type:hover{
    cursor: pointer;
}

.--sign-up button:nth-child(2){
    background-color: var(--meduim-green);
    border-radius: 10px;

}



nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}
nav img{
    margin-left: 30px;
}

.--subheader{
    color: var(--white);
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.--duo-basic, .--trio-basic{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.--duo-basic button, .--trio-basic button, .--live-btn{
    width: 140px;
    height: 40px;
    background-color: var(--meduim-green);
    color: black;
    border-radius: 5px;
    border-style: none;
    font-size: .8em;
    font-weight: 900;
    text-transform: uppercase;
}
.--duo-basic p, .--trio-basic p{
    width: 140px;
    text-align: center;
    font-size: 1.2em;
}
.--subheader button:hover{
    cursor: pointer;
    background-color: #709180;
    transition: all .9s;

}
.--bundle-img{
    display: flex;
    align-items: center;
}
.--subheader h4{
    text-transform: uppercase;
    font-size: .9em;
    color: var(--meduim-green);
}
.--terms{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    z-index: 40;
    color: white;
    justify-content: center;
    align-items: center;
}
.--terms a{
    color: var(--white);
}
.--terms a:first-of-type{
    font-size: .8em;
    opacity: .7;
}
.--terms a:nth-child(2){
    text-transform: uppercase;
}

.--more-plans{
   width: 60px;   
   height: 60px;  
   border-radius: 50%;  
   text-align: center;
   border: 1px solid var(--white);
   padding-top: 20px; 
   position: relative;
   bottom: 40px;
}
.--arrow{
    transform: rotate(90deg);
}



.--linear-gradient-background{
    background: linear-gradient(var(--meduim-green), black);
    padding-top: 40px;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.--linear-gradient-background h1{
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
}

.--linear-gradient-background button{
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
    width: 200px;
    height: 50px;
    text-transform: uppercase;
}
.--linear-gradient-background button:hover{
    background-color:#9cc7b2 ;
    border-style: none;
    cursor: pointer;
    color: var(--black);
}
.--all-plans{
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.--all-plans span{
    color: var(--meduim-green);
    text-transform: uppercase;
    font-size: small;

}
.--all-plans h1{
    font-size: 2em;
    text-transform: capitalize;
}
.--all-plans p{
    width: 490px;
    font-size: 1.2em;
}
.--covers{
    margin:0 auto;
}
.--cover-section{
    background-color: var(--black);  
    border: 2px solid red;
}
.--cover-img{
    width: 320px;
    height: 440px;
    border-radius: 10px;
    opacity:0.7;
    background-color: Black;
}
.--cover-img:hover{
    border: 5px solid var(--grayish-blue);
    opacity:0.5;
    background-color: Black;
    z-index:3;
    cursor: pointer;
}
.--cover-text{
    position: relative;
    top: 50px;
    left: 20px;
    z-index: 30;
    color: var(--white);
    width: fit-content;
}

.--display-flex-row-wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
    justify-content: center;  

}
.--live{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}
.--live h5{
    color: var(--meduim-green);
    font-size: .9em;
    margin-bottom: 10px;
}
.--live h1{
    font-size: 2.7em;
    font-weight: 900;
    margin-bottom: 15px;
}
.--live p:first-of-type{
    width: 55%;
    margin: 10px;
    font-size: 1.2em;
    opacity: .8;
}
.--live p:nth-of-type(2){
    width: 60vw;
    font-size: .7em;
    color: var(--white);
    opacity: .8;
    margin: 10px;
}
.--live-btn{
    width: 250px;
    height: 50px;
    margin: 10px;
}
.--live a:first-child{
    color: var(--white);
    opacity: .6;
}
.--live a:nth-child(n+2){
    font-size: 1.4em;
    color: white;
    margin-top: 10px;
    padding-bottom: 80px;

}
.--right-arrow{
    width: 10px;
    position: relative;
    top: 5px;
    
}

.--sports-section{
    background-image: url(./assets/Images/Sports-img/live-sports.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;

  
}
.--sports-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.--sports-text h1{
    font-size: 2.6em;
}
.--sports-text p{
    font-size: 1.2em;
    width:25vw ;
}
.--sports-text p:nth-last-of-type(1){
    font-size: .5em;
    opacity: .8;
}
.--sports-text a{
    color: var(--white);
    opacity: .8;
}
.--img-border img{
    width: 40px;
}
.--sports-logos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.--img-border{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
}

footer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px 0 60px 0;
    gap: 10px;
    flex-wrap: wrap;
    opacity: .6;
}
.--browse, .--help, .--about-us{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    height: 130px;
    margin: 10px;
    width: fit-content;
    
}
.--browse a, .--help a, .--about-us a{
    text-decoration: none;
    color: var(--grayish-blue);
    width: 100px;

}

hr{
    width: 90%;
    margin: 0 auto
}

.--social-logos{
    display: flex;
    padding: 30px 0 40px 0;
    margin-left: 100px;
   
}
.--social-logos img{
    margin-left: 30px;
}




@media (max-width:710px)  { 
   .--hamburger-menu, .--line{
    display: flex;
    flex-direction: column;

   }
   .--hamburger-menu{
    padding: 13px;
   }
   .--login{
    display: none;
   }
   .--show-menu{
    display: flex;
    
    }
    .--close-menu{
        display: none;
    }
    .--cover-img{
        width: 190px;
        height: 270px;
    }
    .--cover-section{
        background-color: var(--black);
        padding-left: 50px;

    }
    .--cover-img:hover{
        border-style: none;
    }
    .--cover-text{
        left: 10px;
        font-size: small;
    }
    .--display-flex-row-wrap{
        justify-content: start;

    }
    .--sports-section{
        text-align: center;
        align-items: center;
       
        background-image: url(./assets//Images/Sports-img/live-sports-small.jpg);
        /* height: 150vh; */ 
        background-position: center center;
        background-size: 100%;
        padding-bottom: 50%;
        align-items: center;
        padding-left: 0;

      
    }
    .--sports-text h1{
        font-size: 3em;
    }
    .--sports-text p{
        font-size: 1.4em;
        width:70vw ;
    }
    .--sports-text p:nth-last-of-type(1){
        width: 350px;
    }
    .--sports-logos{
        gap: 30px;
    }
    .--browse{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 303px;
    }
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .--subheader{
        gap: 10px;
    }
    .--all-plans p{
        width:380px;
    }
 
  
 

 }



